name: Deploy to Firebase Hosting (Live)
on:
  push:
    branches:
      - main

jobs:
  deploy_live:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: "${{ secrets.GITHUB_TOKEN }}"
          firebaseServiceAccount: "${{ secrets.FIREBASE_SERVICE_ACCOUNT_ARROVOX_WEBSITE }}"
          channelId: live
          projectId: arrovox-website
